<launch>
    <include file="$(find ssam_simulation)/launch/scout_simulation.launch"/>
    <include file="$(find ssam_control)/launch/scout_localization.launch"/>

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen" ns="stereo"/>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
	    <rosparam file="$(find ssam_control)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ssam_control)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ssam_control)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ssam_control)/config/global_costmap_params.yaml" command="load" />

        <param    name="base_global_planner"       value="global_planner/GlobalPlanner"/>
        <rosparam file="$(find ssam_control)/config/planner_global.yaml" command="load" />

        <rosparam file="$(find ssam_control)/config/planner_teb.yaml" command="load" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
        <remap from="cmd_vel" to="/scout/diff_drive_controller/cmd_vel"/>
    </node>

    <rosparam command="load" file="$(find ssam_control)/config/controllers.yaml"/>

    <param name="scout/robot_description" textfile="$(find ssam_simulation)/models/scout/scout.xacro"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/scout" args="joint_state_controller diff_drive_controller">
    </node>

</launch>