<launch>
  <arg name="scout_count" default="2" />

  <group ns="$(eval 'scout' + str(arg('scout_count')))">
      <!-- This command builds the urdf files from the xacro files by calling the launch file -->
      <param name="scout_description" command="$(find xacro)/xacro '$(find ssam_simulation)/models/scout/scout.xacro'"/>
 
      <param name="tf_prefix" value="$(eval 'scout' + str(arg('scout_count')) + '_tf')" />      
      <!-- Spawn the robot after we built the urdf files -->
      <node name="scout_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-x 0 -y $(arg scout_count) -z 0 -urdf -param scout_description -model scout$(arg scout_count)" />
  </group>

  <include file="$(find ssam_simulation)/launch/spawn_scouts.launch" if="$(eval arg('scout_count') > 1)">
    <arg name="scout_count" value="$(eval arg('scout_count') - 1)" />
  </include>

</launch>
